                                                

@define defaultColor: #ffffff;
@define yIcon : 0px;
@define yText : 2px;
@define yBar : 27px;


                                                                               
                                                                               
                                                                               

CSGOHudHealthArmor Label
{
    font-family: Stratum2, 'Arial Unicode MS';
}

                                                                                                 
                                                                         
.Language_vietnamese CSGOHudHealthArmor Label 
{
	font-family: ForceStratum2, 'Arial Unicode MS';
}

                                                                               
                                                                               
                                                                               

.hud-HA-icon-container
{
    x: 15px;
    y: yIcon;
    width: 30px;
    height:100%;
    opacity: 1.0;
}

.hud-HA-text
{
    x: 42px;
    y: yText;
}



                                                                               
                                                                               
                                                                               


.hud-HA
{
    width: fit-children;
    height: 53px;
	vertical-align: bottom;
    opacity: 0.0;
	transition-property: opacity;
	transition-timing-function: ease-in-out;
    transition-duration: 0.3s;
    margin-left: 8px;
}

.survival .hud-HA
{
    width: 550px;
}

.hud-HA.hud-HA--active
{
    opacity: 1.0;
}

.hud-HA-bg
{
    flow-children:right;
                                                                                                                             
                                                                                                                                                                                        
                       
                          
	                              
                              
    width: 100%;
    height: 100%;
    opacity: 1.0;
                           
}

.hud-HA-bg-h
{
                                                                                                                             
                                                                                                                                                                                        
                 
    width: 212px;
    height: 100%;
    opacity: 1.0;
    horizontal-align: left;
}

.hud-HA-bg-a
{
                                                                                                                                                                                        
    width: 48%;
    height: 100%;
    opacity: 1.0;
    horizontal-align: left;
}
.hud-HA-bar.HUD--health--on-damage
{
    transform-origin: 50% -50%;
    animation-name: jitter-bar;
    animation-duration: .15s;
    animation-timing-function: ease-out;
    animation-iteration-count: 1;
}

@keyframes 'jitter-bar'
{
    0%
    {
        transform: scale3D( 1.15, 1.15, 1 ) translate3d( -2px, 2px, 0px);
        brightness: 3;
    }
    
    25%
    {
        transform: scale3D( 1, 1, 1 ) translate3d( 0px, 2px, 0px);
        brightness: 5;
    }
    
    50%
    {
        transform: scale3D( 1, 1, 1 ) translate3d( 2px, -3px, 0px);
        brightness: 3;
    }
    
    100%
    {
        transform: scale3D( 1, 1, 1 ) translate3d( 0px, 0px, 0px);
        brightness: 1;
    }
    
}

.hud-HA-bar .ProgressBarLeft
{
    background-color: defaultColor;
    margin: -1px;
}

.hud-HA-bar .ProgressBarRight
{
    background-color: rgba(0,0,0,0);
}


.hud-HA-bar
{
    background-color: gradient( linear, 100% 0%, 0% 0%, from( rgba(0, 0, 0, 0.5) ),color-stop(0.5, rgba(255,0,0,1)), to( rgba(255,0,0,1)) );
    brightness: 1;
    width: 65px;
    height: 6px;
    border: 1px solid #00000000;
    horizontal-align: right;
    vertical-align: bottom;
    y: 5px;
    x: 0px;
}
.hud-HA-bar2
{
    background-color: gradient( linear, 100% 0%, 0% 0%, from( rgba(0, 0, 0, 0.5) ),color-stop(0.5, rgba(255,0,0,1)), to( rgba(255,0,0,1)) );
    brightness: 1;
    width: 0px;
    height: 0px;
	margin-left: 10px;
	margin-right: 10px;
    border: 1px solid #00000000;
    horizontal-align: left;
    vertical-align: bottom;
    y: -5px;
    x: 0px;
}

.hud-HA-text Label
{
    font-size: 42px;
}


.hud-HA--on-damage .hud-HA-bar--health .ProgressBarLeft,.hud-HA--critical .hud-HA-bar--health .ProgressBarLeft
{
}

.hud-HA-health .hud-HA-health_or_ammo-label.HUD--health--on-damage
{
    animation-name: on-damage;
    animation-duration: 0.6s;
    animation-timing-function: ease-out;
    animation-iteration-count: 1;
}

.hud-HA-main-container
{
    height: 100%;
}

.hud-HA-main
{
    height: 100%;
    vertical-align: center;
    horizontal-align: left;
    flow-children: right;
	margin-bottom: 10px;
}
.hud-HA-icon
{
    horizontal-align: center;
    vertical-align: middle;
    opacity: 0.65;
}

.hud-HA-icon--health
{
    width: 22px;
}
                                            
.hud-HA--critical  .hud-HA-icon--health
{
    wash-color: #ff0000;
}

.hud-HA-icon--heavy
{
    padding-top: 1px;
    wash-color: defaultColor;
    visibility: collapse;
}
.hud-HA--heavyassaultsuit .hud-HA-icon--heavy
{
    visibility: visible;
}
.hud-HA-icon-outline-container
{
    x: 0px;
    vertical-align: center;
    height:100%;
    opacity: 1.0;
    y: 3px;
}
.hud-HA-armor-text
{
    width: fit-children;
    vertical-align: center;
    overflow: noclip;
    horizontal-align: center;
    flow-children: right;
	 x: 1px;
}
.hud-HA--helmet .hud-HA-icon--armor {
    visibility: collapse;
}

.hud-HA-icon--helmet {
	transform: translateY( -3px );
    visibility: collapse;
}
.hud-HA--helmet .hud-HA-icon--helmet {
    visibility: visible;
}

                                                                               
                                                                               
                                                                               

.hud-HA-health
{
    height: 100%;
    padding-right: 10px;
}

.hud-HA--critical .hud-HA-health
{
                                  
}

                                                                               
                                                                               
                                                                               

.hud-HA-armor
{
    height: 100%;
    padding-right: 10px;
}

.hud-HA-text
{
    width: 70px;
}

.hud-HA-text Label
{
    font-size: 42px;
    font-weight: bold;
    color: defaultColor;
    letter-spacing: 0px;
    horizontal-align: center;
                                           
    text-shadow: 0px 0px 3px 0.0 #000000DD;
    margin-left: 5px;
                   
                                   
    text-overflow: shrink;
}



.hud-HA--critical  .hud-HA-text .hud-HA-health-label
{
    text-shadow: 0px 0px 9px 2.5 #DD0000;
	    transform-origin: 50% -50%;
    animation-name: jitter-number;
    animation-duration: .15s;
    animation-timing-function: ease-out;
    animation-iteration-count: 1;
}
@keyframes 'jitter-number'
{
    0%
    {
        transform: scale3D( 1.15, 1.15, 1 ) translate3d( -3px, -4px, 0px);
        brightness: 3;
    }
    
    25%
    {
        transform: scale3D( 1, 1, 1 ) translate3d( 0px, -2px, 0px);
        brightness: 5;
    }
    
    50%
    {
        transform: scale3D( 1, 1, 1 ) translate3d( 3px, 5px, 0px);
        brightness: 3;
    }
    
    100%
    {
        transform: scale3D( 1, 1, 1 ) translate3d( 0px, 0px, 0px);
        brightness: 1;
    }
    
}

                                                      
   
  	                                       
  	                          
  	                                  
  	                                    
   

                                     
   
  	  
  	 
                                               
       
         
       
                                               
       
  	    
  	 
                                               
  	 
   

  
                                                     
                                                    
 
                   
 
  

                                                                               
                                                                               
                                                                               

ProgressBar
{
    width: 82px;
	height: 12px;
    border: 1px solid #dddddd11;
	border-radius: 0px;
    margin-left: 5px;
    margin-top: -5px;
    box-shadow: -2px -2px 4px 3.0px #00000033;
    opacity: 0.99;
}

.hud-HA--critical #HealthBar
{
}

                              
   
  	                                      
  	                          
  	                                  
  	                                    
   

                                    
   
  	  
  	 
                                                   
       
         
       
                                                   
       
  	    
  	 
                                                   
  	 
   

.hud-HA--small ProgressBar
{
    visibility: collapse;
}

.hud-HA--small .hud-HA-bg-h,
.hud-HA--small .hud-HA-bg-a
{
    width: 124px;
}

.ProgressBarLeft
{
	background-color: defaultColor;
}

.hud-HA--on-damage .hud-HA-bar--health .ProgressBarLeft,
.hud-HA--critical  .hud-HA-bar--health .ProgressBarLeft
{
}

.hud-HA-armor--pickup .hud-HA-armor
{
    animation-name: hud-HA-armor--pickup;
    animation-duration: 0.4s;
    animation-timing-function: linear;
    animation-iteration-count: 6;
}

@keyframes hud-HA-armor--pickup
{
    0% {
		opacity: 1;
		brightness: 1;
    }
    49% {
		opacity: 1;
		brightness: 1;
		transform: scale3d( 1.0, 1.0, 1.0 );
    }
    50% {
		opacity: 0.5;
		brightness: 4;
		transform: scale3d( 1.2, 1.2, 1.2 );
    }
    99% {
		opacity: 0.5;
		brightness: 2;
		transform: scale3d( 1.0, 1.0, 1.0 );
    }
    100% {
		opacity: 1;
		brightness: 1;
    }
}

