
.PopupPanel
{
	max-width: 900px;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( black ), to( rgba(44, 44, 44, 1)) );
	border: 0px solid black;
}

.PopupPanel Label
{
	font-family: Stratum2, 'Arial Unicode MS';
}

.PopupTitle
{
	margin-bottom: 0px;
}

.popup_welcome_title
{
	horizontal-align: center;
	margin-top: 64px;
}
.popup_welcome_title2
{
	horizontal-align: center;
	margin-top: 300px;
}

.popup_welcome_bg
{
	width: 695px;
	height: 768px;
	background-image: url("file://{images}/backgrounds/welcome_popup_bg.png");
}

.popup_welcome_fade
{
	background-color: gradient( linear, 0% 100%, 0% 0%, from( #000000d3 ), to( #00000000 ) );
	vertical-align: bottom;
	height: 100%;
	width: 100%;
}

.popup_welcome_body
{
	width: 100%;
	color: white;
	padding: 0px 64px 32px 64px;
	vertical-align: bottom;
	text-align: center;
}

