                                     
CSGOIntroMovie
{
	width: 100%;
	height: 100%;
	sound: "UIPanorama.cs2_logo";
}

#IntroMoviePlayer
{
	width: 1920px;
	height: 1080px;
	overflow: noclip;
	horizontal-align: center;
}

.AspectRatio21x9 #IntroMoviePlayer
{
	width: 2520px;
	height: 1080px;
	transform: scaleY( 1.3 );
	overflow: noclip;
}

