.mainmenu-left-column
{
    padding: 750px 0px 0px 5px;
    height: fit-children;
    width: 620px;
    flow-children: up;
    visibility: visible;
    transition-property: opacity;
    transition-duration: .25s;
    transition-timing-function: ease-in-out;
}

.mainmenu-left-column.hidden
{
    opacity: 0;
}


