.mainmenu-left-column
{
    padding: 740px 0px 16px 16px;
    height: fit-children;
    vertical-align: bottom;
	horizontal-align: bottom;
    width: 620px;
    flow-children: up;
    visibility: visible;
    transition-property: opacity;
    transition-duration: .25s;
    transition-timing-function: ease-in-out;
}

.mainmenu-left-column.hidden
{
    opacity: 0;
}


