.mainmenu-left-column
{
    height: fit-children;
	vertical-align: bottom;
	horizontal-align: left;
	padding-bottom: 10px;
    width: 620px;
    flow-children: up;
    visibility: visible;
    transition-property: opacity;
    transition-duration: .25s;
    transition-timing-function: ease-in-out;
}

.mainmenu-left-column.hidden
{
    opacity: 0;
}


